ItsRaining.xcodeproj/project.xcworkspace/xcshareddata/ItsRaining.xccheckout
ItsRaining.xcodeproj/project.xcworkspace/xcuserdata/simonpfry.xcuserdatad/UserInterfaceState.xcuserstate
ItsRaining.xcodeproj/xcuserdata/simonpfry.xcuserdatad/xcschemes/ItsRaining.xcscheme
ItsRaining.xcodeproj/xcuserdata/simonpfry.xcuserdatad/xcschemes/xcschememanagement.plist
